section:nth-child(3) {
    background-color: #f9d3a3;
    opacity: 1;
    background-size: 16px 16px;
    background-position: center;
    background-image:  repeating-linear-gradient(to right, #f9d3a3, #e9c69a 100px, #a28868 250px, #fff);
    overflow: hidden;
}

.democontainer {
    width: 300px;
    padding: 10px;
    margin: 5px;
    /* background-color: rgb(244, 244, 244);
    border-radius: 10px;
    box-shadow: 0px 2px 1px dimgrey; */
}

.democontainer canvas {
    background-color: rgb(255, 255, 255);
    /*box-shadow: 0px 0px 1px dimgrey;*/
    border-radius: 5px;
}

.demotextbox {
    width: 300px;
    background-color: white;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px dimgrey;
    align-content: center;
    margin: auto;
    display: none;
    top: -230px;
    position: relative;
    right: -350px;
}

.democontainer:hover + .demotextbox {
    display: grid;
}