section:nth-child(1) {
    background-color: #ff6347;
    background-image:  linear-gradient(#e0e0e0 2px, transparent 2px), linear-gradient(to right, #e0e0e0 2px, #ff6347 2px);
    background-size: 90% 90%;
    background-repeat: repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    padding: 100px;
    overflow: hidden;
}

.status {
    width: -webkit-fill-available;
    margin-bottom: 10px;
    width: 300px;
    margin: 15px auto;
}

.status a {
    border-radius: 8px;
    width: -webkit-fill-available;
}

.status-button {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 8px 16px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
}

.status:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-color: #9db5cf;
}

.status-enabled {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
    background-color: greenyellow;
    border-width: 1px;
    border-color: white;
    box-shadow: 0px 0px 1px 0.1px black;
    animation: flicker 1s linear infinite;
}

.status-awaiting {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
    background-color: rgb(243, 213, 93);
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 1px 0.1px black;
    animation: flicker 1s linear infinite;
}

.status-disabled {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
    background-color: rgb(247, 83, 61);
    border-width: 1px;
    border-color: white;
    box-shadow: 0px 0px 1px 0.1px black;
    animation: flicker 1s linear infinite;
}

@keyframes flicker {
    25% {
        opacity: 0.9;
    }
    50%{
        opacity: 0.8;
    }
    75% {
        opacity: 0.9;
    }
}

.status-name {
    font-size: 20px;
    color: #7b4848;
    flex: 1;
    font-family: Arial;
    letter-spacing: 3px;
    /*-webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;*/
}

.navbutton {
    flex: 1 100%;
    margin: auto;
    text-align: center;
    padding: 15px;
}

.navbutton a {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 6px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    height: 200px;
}

.projcol a:hover {
    transition-duration: 500ms;
    background-color: rgb(42, 159, 167);
}

.democol a:hover {
    transition-duration: 500ms;
    background-color: rgb(238, 176, 94);
}

.projcol a {
    background-color: rgb(95, 158, 160);
}

.democol a {
    background-color: rgb(222, 184, 135);
}

.navbutton a span {
    font-size: 50px;
    color: #333;
    flex: 1;
    font-family: Arial;
    letter-spacing: 3px;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}