html,
body {
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#popup {
    display: none;
}

@media screen and (max-width: 1200px) {
    main:not(#popup) {
        display: none;
    }
    
    #popup {
        display: block;
        padding: 25px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(165, 42, 114, 0.788);
    }
}

main {
    text-align: left;
}

section {
    height: 100vh;
    box-sizing: border-box;
    padding: 25px;
    scroll-snap-align: start;
}

section:nth-child(3) {
    background-color: #deb887;
    opacity: 1;
    background-size: 16px 16px;
    background-position: center;
    background-image:  repeating-linear-gradient(to right, #e0e0e0, #e0e0e0 1.8px, #deb887 1.8px, #deb887);
    border: 50px solid #deb887;
}
section:nth-child(4) {
    background: red;
}
section:nth-child(5) {
    background: yellow;
}