section:nth-child(3) {
    background-color: #f9d3a3;
    opacity: 1;
    background-size: 16px 16px;
    background-position: center;
    background-image:  repeating-linear-gradient(to right, #f9d3a3, #e9c69a 100px, #a28868 250px, #fff);
    overflow: hidden;
}

.democontainer {
    width: 300px;
    padding: 10px;
    margin: 5px;
    /* background-color: rgb(244, 244, 244);
    border-radius: 10px;
    box-shadow: 0px 2px 1px dimgrey; */
}

.democontainer canvas {
    background-color: rgb(255, 255, 255);
    /*box-shadow: 0px 0px 1px dimgrey;*/
    border-radius: 5px;
}

.demotextbox {
    width: 300px;
    background-color: white;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px dimgrey;
    align-content: center;
    margin: auto;
    display: none;
    top: -230px;
    position: relative;
    right: -350px;
}

.democontainer:hover + .demotextbox {
    display: grid;
}

.playbox {
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
  }

play-button {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .play-button input[type=checkbox] {
    display: none;
  }
  .play-button input[type=checkbox]:checked ~ span::before, .play-button input[type=checkbox]:checked ~ span::after {
    border: 20px solid transparent;
    border-left: 40px solid #fff;
    border-right: 0;
    
  }
  .play-button input[type=checkbox]:checked ~ span::after {
    transform: translateY(-50%) scaleY(0.5);
    filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));
  }

  .play-button input[type=checkbox] ~ span::after {
    filter: drop-shadow(0px 2px 2px rgba(197, 197, 197, 0.74));
  }

  .play-button span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 40px;
    height: 40px;
  }
  .play-button span::before, .play-button span::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    border: 0 solid transparent;
    border-left: 16px solid #fff;
    transition: all 0.4s ease;
  }
  .play-button span::before {
    left: 0;
    box-sizing: border-box;
    filter: drop-shadow(0px 2px 2px rgba(197, 197, 197, 0.74)); 
  }
  .play-button span::after {
    right: 0;
    box-sizing: border-box;
  }

  


  


