section:nth-child(2) {
    background-color: #5f9ea0;
    background-image:  radial-gradient(#e0e0e0 0.5px, #5f9ea0 0.5px);
    background-size: 10px 10px;
    overflow: hidden;
}

.overlap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}


/*      VIDEO DISPLAY     */

#videoDisplay {
    font-family: Arial, sans-serif;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    /*width: -webkit-fill-available;
    height: -webkit-fill-available;*/
    text-align: left;
    padding: 1rem 1rem;
    vertical-align: middle;
    overflow-y: scroll;
    box-shadow: 0 2px 1px rgba(197, 197, 197, 0.74);
}

#videoDisplay h3 {
    color: #2c3e50;
    font-size: 1.5em;
    margin-bottom: 5px;
}

#videoDisplay p {
    color: #555;
    font-size: 0.9em;
    margin-top: 0;
}

#videoDisplay a {
    color: #3498db;
    text-decoration: none;
    font-size: 0.95em;
    word-wrap: break-word;
}

#videoDisplay a:hover {
    text-decoration: underline;
}

#videoDisplay hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

.player {
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    width: 320px;
    height: 180px;
}



/*      GIT DISPLAY     */

#gitDisplay {
    width: -webkit-fill-available;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

#gitDisplay a {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: -webkit-fill-available;
    box-shadow: 0 2px 1px rgba(0,0,0,0.8);
}

.profile-button {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 8px 16px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #bbbbbb;
    width: 12%;
}

.profile-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-color: #9db5cf;
}

.profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.profile-name {
    font-size: 14px;
    color: #333;
}


/*      DATA DISPLAY     */

#dataDisplay {
    font-family: Arial, sans-serif;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    /*width: -webkit-fill-available;*/
    margin-bottom: 5px;
    text-align: left;
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    overflow-y: scroll;
    flex: 2;
    box-shadow: 0 2px 1px rgba(197, 197, 197, 0.74);
}

#dataDisplay h3 {
    color: #2c3e50;
    font-size: 1.5em;
    margin-bottom: 5px;
}

#dataDisplay p {
    color: #555;
    font-size: 0.9em;
    margin-top: 0;
}

#dataDisplay a {
    color: #3498db;
    text-decoration: none;
    font-size: 0.95em;
    word-wrap: break-word;
}

#dataDisplay a:hover {
    text-decoration: underline;
}

#dataDisplay hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

/*      CONTACT DISPLAY     */

#contactDisplay {
    font-family: Arial, sans-serif;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: -webkit-fill-available;
    margin-top: 10px;
    text-align: left;
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    box-shadow: 0 2px 1px rgba(197, 197, 197, 0.74);
}

#contactDisplay h3 {
    color: #2c3e50;
    font-size: 1.5em;
    margin-bottom: 5px;
}

#contactDisplay p {
    color: #555;
    font-size: 0.9em;
    margin-top: 0;
}

#contactDisplay a {
    color: #3498db;
    text-decoration: none;
    font-size: 0.95em;
    word-wrap: break-word;
}

#contactDisplay a:hover {
    text-decoration: underline;
}

#contactDisplay hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

.trns-text {
    -webkit-text-fill-color: rgba(255,255,255,0.90);
    -webkit-background-clip: text;
    background-clip: text;
    display:block;
    font-size: 120px;
    font-family: arial;
    text-align: center;
    margin-top: -20px;
    font-weight: bold;
    letter-spacing: -6px;
    max-width: 0px;
    text-shadow: 0px 2px 2px rgba(197, 197, 197, 0.74);
}

.carouselUp {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 700px;
    display: flex;
    flex-direction: column;

    > * {
        flex: 0 0 100%;
    }

    z-index: 1;
}

.carouselDown {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 700px;
    display: flex;
    flex-direction: column-reverse;

    > * {
        flex: 0 0 100%;
    }

    z-index: 1;
}

.groupUp {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    will-change: transform;
    animation: scrollingUp 15s linear infinite;
}

.groupDown {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    will-change: transform;
    animation: scrollingDown 15s linear infinite;
}

.card {
    width: 100%;
    padding: 20px;
    justify-content: center;
    min-height: 200px;
}

@keyframes scrollingUp {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-200%);
    }
}
@keyframes scrollingDown {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(-100%);
    }
}



@keyframes bounce-enter {
    0% { transform: translate3d(0, 300%, 0) }
    58% { transform: translate3d(0, -27px, 0) }
    73% { transform: translate3d(0, 12px, 0) }
    88% { transform: translate3d(0, -7px, 0) }
}

.square-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    align-content: center;
    z-index: 5;
}

.square {
    /*margin: 50px;
    padding: 25px;*/
    background: #f9f9f9;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    box-shadow: 0px 2px 2px rgba(197, 197, 197, 0.74);
}
  
@media (prefers-reduced-motion: no-preference) {
    .square-animation {
        animation: bounce-enter 1s 1;
    }
}


.projectcontainer {
    position: relative;
    top: 0;
    left: 0;
    flex: 0 1 33%;
    padding: 0;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    z-index: 10;
}

.project {
    /*width: 100%;
    height: 100%;*/
    border-radius: 15px;
    top: 0;
    left: 0;
    /*margin: auto;*/
    box-sizing: border-box;
    padding: 25px;
    max-height: 150px;
    display: flex;
    justify-content: space-between;
    transition: all .2s ease-in-out; 
}

.project:hover { 
    transform: scale(0.97); 
    cursor: pointer;
}

.project h1 {
    color:#0a3c5e;
    float: left;
    font-family: arial;
    font-weight: bold;
    margin-bottom: 10px;
}
.project span {
    display: inline-flex;
    flex-direction: column;
    width: 60%;
}

.project p {
    color:#315273;
    font-family: arial;
}

.project hr {
    border: none;
    padding-left: 0.5px;
    padding-right: 0.5px;
    background-color: #ddd;
}

.emoji {
    font-size: 70px;
}

:root {
    --portfolio: rgb(104, 207, 231);
    --xcron: rgb(88, 185, 92);
    --chess: rgb(203, 149, 33);
    --housesite: rgb(217, 145, 167);
    --houseapi: rgb(107, 144, 222);
    --facerecog: rgb(189, 200, 87);
    --buoysim: rgb(95, 215, 145);
    --coming1: rgb(176, 94, 94);
    --coming2: rgb(233, 134, 52);
}

.bigproject {
    background-color: var(--portfolio);
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 2px rgba(197, 197, 197, 0.74);
}

.bigproject h1 {
    color:#0a3c5e;
    font-family: arial;
    font-weight: bold;
}

.bigproject p {
    color:#315273;
    font-family: arial;
}

.bigproject hr {
    border: none;
    padding-left: 0.5px;
    padding-right: 0.5px;
    background-color: #ddd;
    margin-left: 15px;
    margin-right: 15px;
}

.bigproject a {
    color:#187ec2;
    cursor: pointer;
}

.bigproject a[href^="http"]::after,
.bigproject a[href^="https://"]::after
{
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}