html,
body {
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#popup {
    display: none;
}

#popup p {
    font-size: 34px;
}

/*
@media screen and (max-width: 1200px),
    screen and (max-height: 650px)  {
    main:not(#popup) {
        display: none;
    }
    
    #popup {
        display: block;
        padding: 25px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }
}
*/

main {
    text-align: left;
}

section {
    height: 100vh;
    box-sizing: border-box;
    padding: 25px;
    scroll-snap-align: start;
}

::-webkit-scrollbar-thumb {
    background: #9d9d9d;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px #d6d6d6;
}

::-webkit-scrollbar {
    width: 5px;
}






.playbox {
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
  }

play-button {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .play-button input[type=checkbox] {
    display: none;
  }
  .play-button input[type=checkbox]:checked ~ span::before, .play-button input[type=checkbox]:checked ~ span::after {
    border: 20px solid transparent;
    border-left: 40px solid #fff;
    border-right: 0;
    
  }
  .play-button input[type=checkbox]:checked ~ span::after {
    transform: translateY(-50%) scaleY(0.5);
    filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));
  }

  .play-button input[type=checkbox] ~ span::after {
    filter: drop-shadow(0px 2px 2px rgba(197, 197, 197, 0.74));
  }

  .play-button span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 40px;
    height: 40px;
  }
  .play-button span::before, .play-button span::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    border: 0 solid transparent;
    border-left: 16px solid #fff;
    transition: all 0.4s ease;
  }
  .play-button span::before {
    left: 0;
    box-sizing: border-box;
    filter: drop-shadow(0px 2px 2px rgba(197, 197, 197, 0.74)); 
  }
  .play-button span::after {
    right: 0;
    box-sizing: border-box;
  }